---
layout: default
---
<div data-role="page" data-url="index-page" id="index-page">
    <div class="ui-grid-b ui-responsive">
        <div class="ui-block-a"></div>
        <div class="ui-block-b">
            <div data-position="fixed" data-role="header">
                <a class="ui-btn-left ui-btn ui-icon-home ui-btn-icon-notext ui-corner-all" href="{{ site.url }}/index.html" rel="external">Home</a>
                <h3 style="text-align:center;">{{ page.title }}</h3>
                <a class="ui-btn-right ui-btn ui-icon-info ui-btn-icon-notext ui-corner-all" href="{{ site.url }}/about.html" rel="external">About</a>
            </div>
            <div class="ui-content" role="main">
                <!-- <div style="text-align:center;">
                    <div class="fb-like" data-action="like" data-href="{{site.url}}{{page.url}}" data-layout="standard" data-share="true" data-show-faces="true">
                    </div><a class="twitter-share-button" data-url="{{site.url}}{{page.url}}" href="https://twitter.com/share">Tweet</a>
                </div> -->
                <div class="ui-body ui-body-a ui-corner-all">
                    <ul data-filter="true" data-filter-placeholder="Search a {{ page.searchFor }}" data-inset="true" data-role="listview" id="selectList">
                        {{ content }}
                    </ul>
                </div>
            </div>
        </div>
        <div class="ui-block-c"></div>
    </div>
</div>
<script>$(document).on("click",".oID",function(e) { localStorage.setItem("o", $(this).attr("href")); });</script>
<!-- <script>
window.fbAsyncInit = function() {
FB.init({
  appId      : '567062553469977',
  xfbml      : true,
  version    : 'v2.5'
});
};

(function(d, s, id){
 var js, fjs = d.getElementsByTagName(s)[0];
 if (d.getElementById(id)) {return;}
 js = d.createElement(s); js.id = id;
 js.src = "//connect.facebook.net/en_US/sdk.js";
 fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?"http":"https";if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document, "script", "twitter-wjs");
</script> -->
