---
layout: default
---
<div data-role="page" data-url="index-page" id="index-page">
    <div class="ui-grid-b ui-responsive">
        <div class="ui-block-a"></div>
        <div class="ui-block-b">
            <div data-position="fixed" data-role="header">
                <a class="ui-btn-left ui-btn ui-icon-home ui-btn-icon-notext ui-corner-all" href="{{ site.url }}/index.html" rel="external">Home</a>
                <h3 style="text-align:center;">{{ page.title }}</h3>
                <a class="ui-btn-right ui-btn ui-icon-info ui-btn-icon-notext ui-corner-all" href="{{ site.url }}/about.html" rel="external">About</a>
            </div>
            <div class="ui-content" role="main">
                <!-- <div style="text-align:center;">
                    <div class="fb-like" data-action="like" data-href="{{site.url}}{{page.url}}" data-layout="standard" data-share="true" data-show-faces="true">
                    </div><a class="twitter-share-button" data-url="{{site.url}}{{page.url}}" href="https://twitter.com/share">Tweet</a>
                </div> -->
                <div class="ui-body ui-body-a ui-corner-all">
                    <ul data-filter="true" data-filter-placeholder="Search a {{ page.searchFor }}" {{ page.filterReveal }} data-inset="true" data-role="listview" id="selectList">
                        {{ content }}
                    </ul>
                </div>
            </div>
        </div>
        <div class="ui-block-c"></div>
    </div >
  </br>
  </br>
  </br>
  <hr>
    <div class="ui-grid-a ui-responsive">
      <h2 style="text-align:center;">How to Use</h2>
		<div class="ui-block-a">
			<div class="ui-grid-a ui-responsive">
				<div class="ui-block-a">
          <hr>
					<div style="width: 100%;">
<h3 style="text-align:center;">Select a Province.</h3>
					<img id="icp" src="{{ site.url }}/css/images/icp.png" alt="Choose a Province" style="width: 100%;">
					</div>
				</div>
				<div class="ui-block-b">
          <hr>
					<div style="width: 100%;">
<h3 style="text-align:center;">Select a City/Municipality.</h3>
					<img id="icm" src="{{ site.url }}/css/images/icm.png" alt="Choose a City/Municipality" style="width: 100%;">
					</div>
				</div>
			</div>
		</div>
		<div class="ui-block-b">
			<div class="ui-grid-a ui-responsive">
				<div class="ui-block-a">
          <hr>
					<div style="width: 100%;">
 <h3 style="text-align:center;">Choose a candidate.</h3>
					<img id="icc" src="{{ site.url }}/css/images/icc.png" alt="Choose the Candidates" style="width: 100%;">
					</div>
				</div>
				<div class="ui-block-b">
          <hr>
					<div style="width: 100%;">
<h3 style="text-align:center;">Login and Post to Facebook.</h3>
					<img id="ifd" src="{{ site.url }}/css/images/ifd.png" alt="Post to Facebook or Download" style="width: 100%;">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>$(document).on("click",".oID",function(e) { localStorage.setItem("o", $(this).attr("href")); });</script>
